*, *:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  body{
      background-color: rgb(252, 250, 68);
  }
.face {
    position: relative;
    width: 200px;
    height: 200px;
    background-image: url(tyler_ico.png);
    overflow: hidden;
    animation: gira 5s infinite;
    margin: 250px auto;
}


@keyframes gira {
    75% { transform: rotate(-45deg); }
    100% { transform: rotate(405deg); }
    0% { transform: rotate(45deg); }

}